*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="col-"]{
  min-height: 100px;
  background-color: lightgreen;
  border: 1px solid black;
}

header{
  background-color: lightblue;
}

.jambotron{
  background-color: lightpink;
}

.portolio{
  text-align: center;
}

.portolio .titolo{
    padding: 30px 0;
}

.about{
  background-color: lightblue;
  text-align: center;
}

.about .titolo{
  padding: 30px 0;
}

footer{
  background-color: lightpink;
}

.copyright{
  background-color: lightblue;

}
